/* ===================================================

               Website styling

=================================================== */

body {
  background-color: white;
}

/* ===================================================

         Clock styling and programming

=================================================== */

.clock {
  border-radius: 50%;
  background:#fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg)  no-repeat center;
  background-size: 100%;
  height: 50em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25em; /* half of height */
  margin-left: -10em; /* half of width */
  width: 20em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
background: #000;
height: 10%;
left: 48.75%;
position: absolute;
top: 40%;
transform-origin: 50% 100%;
width: 2.5%;
}

.minutes {
background: #000;
height: 20%;
left: 49%;
position: absolute;
top: 30%;
transform-origin: 50% 100%;
width: 2%;
}

.seconds {
background: red;
height: 25%;
left: 49.5%;
position: absolute;
top: 30%;
transform-origin: 50% 80%;
width: 1%;
z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

.hours-container {
  animation: rotate 43200s infinite linear;
}


.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}

.center {
    height: 350px;
    width: 350px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

/* ===================================================

                  Sticky footer

=================================================== */

* {
  margin: 0;
  padding: 0;
} 

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear: both;
} 

/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
